@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Tinos&display=swap');

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.container {
  height: 100vh;
}

.card {
  width: 380px;
  border-style: solid;
  border-radius: 15px !important;
  border-color: hsl(185, 75%, 39%) !important;
  border-width: 10px !important;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 450px;
}

.upper {
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: hsl(185, 75%, 39%);
}

.user {
  position: relative;
}

.profile img {
  height: 80px;
  width: 80px;
  margin-top: 2px;
}

.profile {
  position: absolute;
  top: -50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.profile-info {
  height: 90px;
  margin-top: 20px;
}

#text-grey {
  color: hsl(0, 0%, 59%);
}

@media only screen and (max-width: 375px) {
  * {
    font-weight: 400px;
    font-size: 14px;
  }

  .card {
    width: 370px;
    border-style: solid;
    border-radius: 10px !important;
    border-width: 5px !important;
    padding: 4px;
    position: relative;
    height: 440px;
  }
}
